{% extends 'webpage/includes/base.html' %}
{% load static %}
{% block title %}ChatRoom{% endblock title %}
{% block head %}
<script src="{% static 'webpage/javascript/room.js' %}" defer></script>
{% endblock %}
{% block content %}
<input type="hidden" value="hjem" id="active">
<div class="container mb-5 mt-3 w-50">
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
</div>

{% endblock content %}
