{% load static %}
{% load humanize %}
<div class="row justify-content-center row-cols-md-2 row-cols-lg-3 row-cols-sm-1">
    {% for item in items %}
    <div class="col mt-3">
        <div id="item-{{item.id}}" class="card h-100 item-clickable clickable">
            <input type="hidden" class="item-id" value="{{item.id}}">
            <img class="card-img-top " src="{% static item.image %}" alt="{{ item.name }}-image">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">Pris: <span id="priceSpan">{{item.price}}</span>,-<br><b>Bud: <span id="bidSpan">{{item.bid}}</span></b></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Posted: {{ item.dato|naturaltime }}</small><br>
                <small class="text-muted">Til: {{ item.expiration|date:'d, M-Y H:i' }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
