{% load static %}
<nav class="navbar navbar-expand-sm smart-scroll sticky-top navbar-dark">
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <a class="nav-link" id="hjem" href="/">Hjem</a>
        </li>
        {% if user.is_authenticated %}
        <li class="list-inline-item">
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.get_username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/inbox">Inbox</a></li>
                            <li><a class="dropdown-item" href="/logOut">Logg ut</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        {% else %}
        <li class="list-inline-item">
            <a class="nav-link" id="logIn" href="/logIn">Logg inn</a>
        </li>
        {% endif %}
        {# fikse active? #}
    </ul>
</nav>
